aioredis
asgiref
asn1crypto
attrs
autobahn
certifi
cffi
channels
channels-redis
chardet
constantly
cryptography
daphne
defusedxml
Django
django-allauth
django-rest-auth
djangorestframework
drf-extensions
gunicorn
hiredis
hyperlink
idna
incremental
jwt
msgpack
oauthlib
plumber
psycopg2
psycopg2-binary
pycparser
PyHamcrest
PyJWT
python3-openid
pytz
redis
requests
requests-oauthlib
six
tqdm
Twisted
txaio
urllib3
websockets
